html {
    background-color: red;
    font-family: Verdana;
    min-height: 100%;
    box-sizing: border-box;
}
body {
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 50px;
    padding-top: 1px;
}

h1, h2 {
    font-family: sans-serif;
}

strong {
    font-family: Georgia;
}